         

		<!-- content 
			================================================== -->
		<div id="content">

			<!-- Page Banner -->
			<div class="page-banner">
				<div class="container">
					<h2>Ubicación</h2>

				</div>
			</div>

			<!-- contact box -->
			<div class="contact-box">
				<div class="container">
					<div class="row">

						<div class="col-md-6" align="center">
							<h3>Honda FAME Altozano</h3> <br>
<span class="single-project-content">
                    <img alt="Honda Altozano Ubicación" src="images/fachada-honda-altozano.jpg"></span> 
                    
                    <li><span><i class="fa fa-home"></i>Paseo Altozano: Zona Automotriz.</span> <span>Av. Montaña Monarca #1000 </span> <span>Col. Desarrollo Montaña Monarca</span><span> Morelia, Michoacán</span></li>                      
						</div>

			<!-- Map box -->
            <div class="col-md-6" align="center">
            <h3>Ubicación</h3><br>
			<div>

				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3756.88754430981!2d-101.1644910846813!3d19.674802537988548!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842d120a88d7dc89%3A0x945ba1aec77d55cf!2sHonda+Altozano+FAME!5e0!3m2!1ses-419!2smx!4v1553642459023" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
				
			</div>
            </div>

					</div>
				</div>
			</div>

		</div><br>


		
	
</body>
</html>